.fondo{
  background-color:#333333;
padding-top: 30px;
padding-bottom: 30px;
margin-left:0px;
margin-right:0px;

}
.borde{
  border-right: 4px solid white;

}
.spacing-media {
  padding-right:15px;
  padding-left:15px;
}
h4 {
  color:white;
  font-size:16px;
}
