.principal{
  font-size: 70px;
padding-bottom: 30px;
font-weight: bold;
margin-right:0px;
margin-left:0px;
}
img{
  width: 80px;
}

.nav-item{
  padding-top: 30px;
  padding-bottom: 30px;


img{
  width: 50px;
}

}
.nav{
  place-content: center;
}


.fondo{
  background-color: #8bd3dd;
}
