.deleteForm{
  padding-left: 50px;
padding-right: 900px;
padding-top: 120px;
padding-bottom: 20px;

}
.contenedorFull {
  width: 95%;
  max-height: 800px;
}
.sizeimg{
  max-width: 100px;

}
.paddingP{
  padding-bottom: 50px;
}
